// Colores principales (textos y bloques)
$color-main-text: hsl(0 100% 0%);
$hsl-main-text: 0 100 0;
$color-main-foreground: hsl(232 100% 97%);
$hsl-main-foreground: 232 100 94;
// links, botones, acciones
$color-accent-text: hsl(231 100% 96%);
$hsl-accent-text: 231 100 96;
$color-accent-foreground: hsl(213 100% 75%);
$hsl-accent-foreground: 213 100 50;
// decoraciones
$color-alt-text: hsl(330 35% 42%);
$hsl-alt-text: 330 35 42;
$color-alt-foreground: hsl(205 100% 90%);
$hsl-alt-foreground: 205 100 85;
// Otros
$nav-height: max(6vh, 5vw);
$nav-background: hsl(280 100% 6%);
$full-height: calc(100% - $nav-height);
$cover-color: hsl(0 100% 0% / .25);
// Tamaños
$scaling-unit: min(1vw, 1vh);
$mobile-scaling-unit: min(1vw, 1vh);
// Funciones
@function getopacity($hsl, $opacity) {
    @return hsl(#{$hsl} / #{$opacity});
}
@function getSize($multiplier: 1, $vertical: 0) {
    $_mult: $multiplier * 1.5;
    @if $vertical == 1 {
        @return #{calc($mobile-scaling-unit * $_mult)};
    }
    @return #{calc($scaling-unit * $_mult)};
}
